.link {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  font-size: var(--text-xs);

  &:focus-visible {
    box-shadow: var(--focus-ring);
    border-radius: var(--radius-s);
  }
}
