.about {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'img info'
    'img contacts';
  align-items: stretch;

  &__img {
    grid-area: img;
    max-width: 14.2rem;
    object-fit: cover;
  }

  &__info {
    display: flex;
    grid-area: info;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1.375rem;
  }

  &__tags {
    font-size: var(--font-size-xs);
  }

  &__contacts {
    grid-area: contacts;
    background-color: var(--about-contacts-bg);
    padding: 0.5rem 1.375rem;
  }
}
