.card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  break-inside: avoid;
  border-radius: 8px;
  padding: 1rem;
  font-size: var(--font-size-s);

  &__label {
    position: absolute;
    top: -12px;
    right: 4px;
    backdrop-filter: blur(4px);
    box-shadow: var(--elevation-shadow-overlay);
    border-radius: 4px;
    background-color: var(--surface-secondary-translucent);
    padding: 0 0.5rem;
    color: var(--text-secondary);
    font-weight: 500;
    font-size: var(--font-size-s);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    color: var(--text-link);
    font-weight: 400;
    font-size: var(--font-size-default);
    line-height: 1.5;
  }

  &__description {
    box-shadow: inset 0 0 0 1px rgb(221 221 221 / 70%);
    border-radius: 8px;
    background-color: var(--surface-primary-translucent);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-xs);
  }

  &__footer {
    border-top: 1px dashed rgb(189 189 189 / 70%);
    padding-top: 0.5rem;
    color: var(--text-secondary);
    font-size: var(--font-size-xxs);
  }

  &--theme--primary {
    background: linear-gradient(75deg, #f1f1f1 50%, #f8f3e6);
  }

  &--theme--secondary {
    border-bottom: 2px solid #f8b845;
    border-left: 2px solid #f8b845;
    background: linear-gradient(90deg, #f9e7d0, #fff9eb);
  }

  [data-theme="dark"] & {
    &--theme--primary {
      background: linear-gradient(75deg, #111 50%, #17140c);
    }

    &--theme--secondary {
      border-bottom: 2px solid #66450e;
      border-left: 2px solid #66450e;
      background: linear-gradient(90deg, #181209, #111);
    }

    &__description {
      background-color: var(--surface-secondary-translucent);
    }
  }
}
