.card {
  position: relative;
  break-inside: avoid;
  border-radius: 8px;
  padding: 1rem;

  &__label {
    position: absolute;
    top: -12px;
    right: 0;
    backdrop-filter: blur(3px);
    box-shadow: -6px 2px 10px 0 #dfdfdf;
    border-radius: 4px;
    background: rgba(249, 237, 208, 0.09);
    padding: 0 8px;
    color: var(--color-darkgray);
    font-weight: 500;
    font-size: var(--font-size-s);
  }

  .card__title {
    color: var(--color-primary);
    font-size: var(--font-size-default);
  }

  &--theme--primary {
    background: linear-gradient(75deg, #f1f1f1 50%, #f8f3e6);
  }

  &--theme--secondary {
    box-shadow: -2px 2px 0px 0px #f8b845;
    background: linear-gradient(90deg, #f9e7d0, #fff9eb);
  }
}
