.download-button {
  display: flex;
  position: fixed;
  right: var(--fixed-offset);
  bottom: var(--fixed-offset);
  align-items: center;
  gap: 0.4rem;
  backdrop-filter: blur(10px);
  transition: background-color var(--transition-fast);
  box-shadow: var(--elevation-shadow-overlay);
  border-radius: var(--radius-pill);
  background-color: var(--surface-primary-translucent);
  padding: 0.25rem 0.85rem;
  font-size: var(--font-size-m);

  &:hover {
    background-color: var(--surface-primary);
    color: var(--text-primary);
  }

  &:focus-visible {
    box-shadow: var(--action-focus);
  }

  [data-theme='dark'] & {
    background-color: var(--surface-secondary-translucent);

    &:hover {
      background-color: var(--surface-secondary);
    }
  }
}
