.link {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-size: var(--font-size-xs);
  line-height: 1.25rem;

  &:focus-visible {
    box-shadow: var(--action-focus);
    border-radius: var(--radius-s);
  }
}
