.list {
  display: flex;
  flex-direction: column;

  &--behavior--inline {
    display: block;

    .list__item {
      display: inline;
      padding-right: 0.75rem;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &--type--dot {
    .list__item {
      position: relative;
      padding-left: 1rem;

      &::before {
        position: absolute;
        top: 0.7em;
        left: 0;
        border-radius: 50%;
        background-color: currentColor;
        width: 0.25rem;
        height: 0.25rem;
        content: '';
      }
    }
  }

  &--type--hash {
    .list__item {
      &::before {
        content: '#';
        color: var(--accent);
        font-weight: var(--font-weight-bold);
      }
    }
  }

  &--offset--small {
    margin-left: 0.6875rem;
  }
}
