.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  animation: fadeIn 0.6s ease-in-out forwards;
  margin: 0 auto;
  box-shadow: var(--page-shadow);
  border-radius: var(--radius-m);
  background-color: var(--surface-primary);
  padding: 1.5rem;
  max-width: 75rem;

  &__head {
    border-radius: inherit;
    background-image: repeating-linear-gradient(
      180deg,
      var(--terminal-scanline) 0,
      var(--terminal-scanline) 1px,
      transparent 1px,
      transparent 3px
    );
    background-color: var(--surface-secondary);
    overflow: hidden;
  }

  &__body {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 1.25rem;
  }
}
