.switcher {
  position: fixed;
  top: var(--fixed-offset);
  right: var(--fixed-offset);
  width: 46px;
  height: 26px;

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switcher__slider {
      background-color: var(--surface-secondary-translucent);
    }

    &:focus-visible + .switcher__slider {
      box-shadow: var(--action-focus);
    }

    &:checked + .switcher__slider::before {
      transform: translateX(20px);
    }
  }

  &__slider {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: var(--transition-fast);
    cursor: pointer;
    box-shadow: var(--elevation-shadow-overlay);
    border-radius: var(--radius-pill);
    background-color: var(--surface-primary-translucent);
    padding: 0.3rem;

    &:hover {
      background-color: var(--surface-primary);
    }

    &::before {
      position: absolute;
      bottom: 4px;
      left: 4px;
      transition: var(--transition-fast);
      border: 1px solid var(--switcher-thumb-border);
      border-radius: inherit;
      background-color: var(--surface-primary);
      width: 16px;
      height: 16px;
      content: '';
    }
  }

  [data-theme='dark'] & {
    &__slider {
      &:hover {
        background-color: var(--surface-secondary);
      }
    }
  }
}
