.timeline {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  font-size: var(--font-size-xxxs);

  &__separator {
    flex-grow: 1;
    margin: 0 0.8rem -1px;
    border-top: 1px dashed currentColor;
  }
}
