:root {
  --accent: #2c70d6;

  --text-primary: #414141;
  --text-secondary: #666;
  --text-link: #2c70d6;

  --surface-primary: #fff;
  --surface-secondary: #f1f1f1;
  --surface-primary-translucent: rgb(255 255 255 / 40%);
  --surface-secondary-translucent: rgb(241 241 241 / 5%);

  --elevation-shadow-overlay: -4px 2px 12px 0 #dfdfdf;

  --action-focus: 0 0 0 1px #fff, 0 0 0 3px #2c70d6;

  --font-size-xxxs: 0.6875rem; // 11px
  --font-size-xxs: 0.75rem; // 12px
  --font-size-xs: 0.8125rem; // 13px
  --font-size-s: 0.875rem; // 14px
  --font-size-m: 0.9375rem; // 15px
  --font-size-default: 1rem; // 16px (default browser's font-size)
  --font-size-l: 1.25rem; // 20px
  --font-size-xl: 1.875rem; // 30px

  &[data-theme="dark"] {
    --text-primary: #c2c2c2;
    --text-secondary: #959595;

    --surface-primary: #161616;
    --surface-secondary: #111;

    --elevation-shadow-overlay: -4px 2px 12px 0 #0e0e0e;
  }
}
