@media screen and (max-width: 800px) {

  .page {
    margin: 0;
    padding: 30px;

    &__body {
      flex-direction: column;
    }
  }

  .summary {
    flex-direction: column;

    &__title {
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {

  .page {
    padding: 16px;
  }
}

@media print {

  *::before {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .page {
    padding: 0;
    width: 21cm;
    page-break-after: always;

    &__body {
      margin-top: 10px;
    }
  }

  .main-info {
    padding: 0;
  }

  .print-button {
    display: none;
  }
}
