@import 'colors';
@import 'animations';
@import 'gaps';

// --- BASE STYLES ---

::selection {
  background-color: $blue;
  color: $white;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

a, button {
  text-decoration: none;
  color: currentColor;
  transition: color 0.3s;

  &:hover {
    color: $blue;
  }

  &:focus {
    box-shadow: 0 0 0 2px $blue;
    border-radius: 2px;
  }
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 4px 0;
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
  color: $darkgray;
  background-color: $lightgray;
}

// --- PAGE STYLES ---

.page {
  overflow: hidden;
  max-width: 1072px;
  background-color: $white;
  border-radius: 6px;
  margin: 40px auto;
  padding: 50px;
  position: relative;
  animation: fadeIn 0.6s ease-in-out forwards;

  &__body {
    display: flex;
    margin-top: 20px;
  }
}

.print-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  color: $gray;
  width: 36px;
  height: 36px;

  &__icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

// --- SUMMARY STYLES ---

.summary {
  display: flex;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
  }

  &__img {
    width: 190px;
    height: 100%;
    border-radius: 6px;
  }

  &__about {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }
}

// --- CONTACTS STYLES ---

.contacts {

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    fill: $blue;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 4px;
  }
}

// --- MAIN-INFO STYLES ---

.main-info {
  background-color: $lightgray;
  padding: 10px 20px 20px;
  border-radius: 6px;
  min-width: 56%;

  &__title {
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
  }
}

// --- EXPERIENCE STYLES ---

.experience {

  &__title {
    color: $blue;
    font-size: 15px;
  }

  &__period {
    font-size: 10px;
    display: flex;
    align-items: center;
  }

  &__timeline {
    flex-grow: 1;
    border-top: 1px dashed currentColor;
    margin: 0 10px -1px;
  }
}

// --- ADDITIONAL STYLES ---

.additional-info {

  &__head {
    margin: 0;
    padding: 4px 10px;
    text-align: center;
    border-bottom: 1px solid currentColor;
  }

  &__body {
    padding: 8px 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid currentColor;
    border-radius: 6px;
    flex-grow: 1;
  }
}

// --- LIST STYLES ---

.list {
  display: flex;
  flex-direction: column;

  &--type--dotted {

    .list__item {
      position: relative;
      padding-left: 16px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.7em;
        width: 4px;
        height: 4px;
        background-color: currentColor;
        border-radius: 50%;
      }
    }
  }
}

@import 'media';
