// BASE
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  position: relative;
  background-color: var(--surface-secondary);
  padding: 3rem;
  min-width: 320px;
  overflow-x: hidden;
  color: var(--text-primary);
  line-height: 1.7;
  font-family: var(--font-family-base);
}

// INTERACTIVE ELEMENTS
a {
  transition: color var(--transition-fast);
  color: currentColor;
  text-decoration: none;

  &:hover {
    color: var(--accent);
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
}

// LISTS
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-size-xl);
  line-height: 1.2;
}

h2 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
}

// BEHAVIORS
::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color);
}

:focus-visible {
  box-shadow: var(--action-focus);
}
