@media screen and (max-width: 992px) {
  :root {
    --body-padding: 0;
    --page-body-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --fixed-offset: 8px;
    --about-img-display: none;
    --about-side-padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --page-padding: 1rem 1rem 5rem;
    --h1-font-size: var(--font-size-l);
  }
}

@media print {
  :root {
    --floating-control-display: none;
    --card-primary-bg: var(--surface-secondary);
    --card-secondary-bg: var(--card-secondary-print-bg);
  }
}

@page {
  size: 1300px 1625px;
}
