@media screen and (max-width: 992px) {
  body {
    padding: 0;
  }

  .page {
    &__body {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    &__img {
      display: none;
    }

    &__info,
    &__contacts {
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: var(--font-size-l);
  }

  .page {
    padding: 1rem 1rem 5rem;
  }
}

@media print {
  .switcher,
  .download-button {
    display: none;
  }

  .card--theme--primary {
    background: var(--surface-secondary);
  }

  .card--theme--secondary {
    background: #f7eee2;
  }
}

@page {
  size: 1290px 1610px;
}
